.DS_Store
/mge-exercise2/mge-exercise2.xcodeproj/project.xcworkspace/xcuserdata/anita.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
itunesU/LandmarksTutorial/LandmarksTutorial.xcodeproj/project.xcworkspace/xcuserdata/anita.xcuserdatad/UserInterfaceState.xcuserstate
